<form [formGroup]="formulario">
    <div class="mb-3">
        <label  class="form-label">Nombres</label>
        <input type="text" class="form-control" placeholder="Nombres" formControlName="nombres">
    </div>
    <div class="mb-3">
        <label  class="form-label">Apellidos</label>
        <input type="text" class="form-control" placeholder="Apellidos" formControlName="apellidos">
    </div>

    <label for="">Genero</label>

    <div class="form-check">
        <input class="form-check-input" type="radio" value="Hombre" name="radio" formControlName="radio">
        <label class="form-check-label">
            Hombre
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="Mujer" name="radio" formControlName="radio">
        <label class="form-check-label">
            Mujer
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="Otro" name="radio" formControlName="radio">
        <label class="form-check-label">
            Otro
        </label>
    </div>

    <div class="d-flex flex-column mt-3">
        <label>País</label>
        <select class="form-select" formControlName="pais">
            <option value="" disabled selected>Elija una opcion</option>
            <option *ngFor="let region of listaPaises" [ngValue]="region" value="region">{{region}}</option>
        </select>
    </div>

    <div class="mt-3">
        <label  class="form-label">Ciudad</label>
        <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad">
    </div>
    <div class="buttons d-flex justify-content-end mt-4" >
        <button type="button" class="btn btn-info mr-2" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-info" (click)="crear()" *ngIf="nombres.valid && apellidos.valid && radio.valid && pais.valid && ciudad.valid">Crear Contacto</button>
        <button type="button" class="btn btn-info" disabled *ngIf="nombres.invalid || apellidos.invalid || radio.invalid || pais.invalid || ciudad.invalid">Crear Contacto</button>
    </div>
    
    <div class="warnings mt-4 alert alert-warning" *ngIf="(nombres.invalid && nombres.touched) || (apellidos.invalid && apellidos.touched) || (radio.invalid && radio.touched) || (pais.invalid && pais.touched) || (ciudad.invalid && ciudad.touched)">
        <div role="alert" class="mb-2" *ngIf="nombres.invalid && nombres.touched">
            <i class="fas fa-exclamation-triangle"></i> El nombre es obligatorio
        </div>
        <div role="alert" class="mb-2" *ngIf="apellidos.invalid && apellidos.touched">
            <i class="fas fa-exclamation-triangle"></i> Los apellidos son obligatorios
        </div>
        <div role="alert" class="mb-2" *ngIf="radio.invalid && radio.touched">
            <i class="fas fa-exclamation-triangle"></i> El radio es obligatorio
        </div>
        <div role="alert" class="mb-2" *ngIf="pais.invalid && pais.touched">
            <i class="fas fa-exclamation-triangle"></i> País es obligatorio
        </div>
        <div role="alert" *ngIf="ciudad.invalid && ciudad.touched">
            <i class="fas fa-exclamation-triangle"></i> Ciudad es obligatorio
        </div>
    </div>

    <div class="alert alert-success mt-5 alert-contacto-agregado d-none" id="alert-contacto-agregado" role="alert">
        <div>
            <strong>¡Usuario añadido exitosamente!</strong> Revisa las vistas en el menú superior
        </div>
        <button type="button" class="btn btn-info" (click)="cerrarAlert()">Cerrar</button>
    </div>
</form>

