<header>

    <nav ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="active">
        <ng-container ngbNavItem>
            <a [routerLink]="['/vistaCarta']" routerLinkActive="router-link-active" ngbNavLink><i class="far fa-address-card"></i> Vista Carta</a>
        </ng-container>

        <ng-container ngbNavItem>
            <a [routerLink]="['/vistaLista']" routerLinkActive="router-link-active" ngbNavLink><i class="fas fa-stream"></i> Vista Lista</a>
        </ng-container>

        <ng-container ngbNavItem>
            <a [routerLink]="['']" routerLinkActive="router-link-active" ngbNavLink ><i class="fas fa-plus"></i> Adicionar Contacto</a>
        </ng-container>
    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

</header>
